@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css");

input{
    margin: 10px 0px 20px 0px;
    width: 100%;
    padding: 10px;
}

.separar{
    padding-bottom: 60px;;
}

.border{
    border: solid 2px;
}

.centrar-vertical{
    display: flex;
    flex-direction: column;
}

.padding-div{
    padding: 30px;
}

.margin-right-0{
    margin-right: 0px;
}

.marginar-derecha{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.boton{
    background-color: #424099;
    color: #ffffff;
    width: 150px;
}

.contenedorBotonForm{
    padding: 0px;
}

#menuUl{
    align-items: center;
    flex-direction: row;
    gap: 50px;
}

#imagenCabecera{
    align-content: center;
    height: fit-content;
    padding: 0px;
    img {
        width: 100%;
    }
}

#tituloContainer{
    margin-bottom: 50px;
}

#formularioContainer{
    background-color: #ffffff;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    margin-bottom: 200px;
}

footer{
    text-align: center;
    #footerLinea1{
        padding: 100px 0px;
        background-color: #ededed;
    }
    i{
        font-size: 50px;
        color: #424099;
    }
    #footerLinea2{
        padding-top: 15px;
        padding-bottom: 10px;
        background-color: #cccccc;
        p{
            font-size: 12px;
        }
    }
    .derecha{
        text-align: right;
    }
    .izquierda{
        text-align: left;
    }
    .descripcionIcono{  
        padding: 0px;
        margin: 0px;
    }
}